.section_right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 50px;
}

.section_right_alt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
