/*------------------------------------*\
  Header
\*------------------------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 30px;
  background: grey !important;
}
