/*------------------------------------*\
  Header
\*------------------------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 30px;
  background: grey !important;
}

.header_left {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.header_title {
  margin-top: 0;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
