.section_content_right {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.section_content_column_grey {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background: #C4C4C4;
}

.section_content_column_white {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}
