/*------------------------------------*\
  Root
\*------------------------------------*/

.root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*------------------------------------*\
  Body
\*------------------------------------*/

.body {
  margin: 10px;
  padding-bottom: 50px;
}
